*{
 margin: 0px;
 padding: 0px;
 }

#main_container{
  background-color:#FFFFFF;
  max-width: 1400px;

  }

#intro_column{
  background-color:#FFFFFF;
  width: 94%;
  margin-left: 3%;
  
  }

#current_column{
  background-color:#FFFFFF;
  width: 94%;
  margin-left: 3%;
}

#coming_soon_column{
  background-color:#FFFFFF;
  width: 94%;
  margin-left: 3%;
  }

  h1, h2, h3{
    font-family: /*add font*/
  }

  p{
    font-family: /*add font*/
  }

  img{
    width: 100%;
  }

@media (min-width: 645px) {
  #main_container{
    overflow: hidden;
  }

  #intro_column{
    float: left;
  }

  #current_column{
    width: 46%;
    float: left;
  }

  #coming_soon_column{
    width: 46%;
    float: left;
    margin-left: 2%;
  }
}

@media (min-width: 1080px) {
  #intro_column{
    width: 30%;
  }
  
  #current_column{
    width: 30%;
    clear: none;
    margin-left: 2%;
  }
  
  #coming_soon_column{
    width: 30%;
  }
}